/*FONT-FACE*/

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('fonts/opensans-italic-webfont.eot');
    src: url('fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-italic-webfont.woff') format('woff'),
         url('fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('fonts/opensans-bolditalic-webfont.eot');
    src: url('fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold-webfont.woff') format('woff'),
         url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemiBoldItalic';
    src: url('fonts/opensans-semibolditalic-webfont.eot');
    src: url('fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibolditalic-webfont.woff') format('woff'),
         url('fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('fonts/opensans-extrabold-webfont.eot');
    src: url('fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtraBoldItalic';
    src: url('fonts/opensans-extrabolditalic-webfont.eot');
    src: url('fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('fonts/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('fonts/opensans-lightitalic-webfont.eot');
    src: url('fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CabinRegular';
    src: url('fonts/cabin-regular-webfont.eot');
    src: url('fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-regular-webfont.woff') format('woff'),
         url('fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('fonts/cabin-italic-webfont.eot');
    src: url('fonts/cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-italic-webfont.woff') format('woff'),
         url('fonts/cabin-italic-webfont.ttf') format('truetype'),
         url('fonts/cabin-italic-webfont.svg#cabinitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('fonts/cabin-bold-webfont.eot');
    src: url('fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabin-bold-webfont.woff') format('woff'),
         url('fonts/cabin-bold-webfont.ttf') format('truetype'),
         url('fonts/cabin-bold-webfont.svg#cabinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Reset pour utilisation avec font-face */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal!important;
	text-shadow: none;	
}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@media print
{
    * {-webkit-print-color-adjust:exact;}
}

body {
	font-family: Arial, Helvetica, Sans-serif;
}

a {
	font-family: CabinRegular, Arial, Helvetica, Sans-serif!important;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 24px;
	color: #7f9400;
	text-decoration: none;
}

div#Content {
	width: 100%;
	max-width: 950px;
	margin: 0 auto;
}

div#Content h1 {
	font-family: OpenSansBold, Arial, Helvetica, Sans-serif;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 12px;
	color: #231f20;
	text-transform: uppercase;
}

div#Content h2 {
	font-family: OpenSansBold, Arial, Helvetica, Sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 24px;
	color: #231f20;
	text-transform: uppercase;	
}

div#Content h3 {
	font-family: OpenSansBold, Arial, Helvetica, Sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 24px;
	color: #727272;
	text-transform: uppercase;	
}

div#Content p {
	font-family: CabinRegular, Arial, Helvetica, Sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 24px;
	color: #231f20;
}

div#Content a, div#Content p a {
	text-decoration: underline;
	color: #7f9400;
}

div#Content a:visited, div#Content p a:visited {
	text-decoration: underline;
	color: #727272;
}

div#Content a:hover, div#Content p a:hover {
	text-decoration: none;
	color: #4e5b00;
}

div#Content ul {
	margin-bottom: 24px;
}

div#Content ul li {
	background: url("images/liste_puce.png") no-repeat scroll left top transparent;
	padding-left: 18px;
	padding-top: 6px;
	margin-bottom: 6px;
	margin-left: 18px;
	font-family: CabinRegular, Arial, Helvetica, Sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #231f20;	
}

hr {
	border: none;
	height: 2px;
	background-color: #afafaf;
	margin-top: 0;
	margin-bottom: 24px;
}

div#Content div.template-single-activite hr {
	border-bottom: 2px dotted #aaaaaa;
	background-color: transparent;
}

div#MenuMobileHeader {
	display: none;
}

div#HeaderWrap {
	display: none;
}

div#Content div#Breadcrumbs {
	margin-bottom: 24px;
}

div#Content div#RightContent div.PostDate {
	font-family: OpenSansBold, Arial, Helvetica, Sans-serif;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #727272;
	margin-bottom: 16px;
}

div#Content div#LeftContent {
	margin-bottom: 24px;
}

div#Content div.template-single-activite div#LeftContent div.ItemImage {
	position: relative;
	width: 254px;
	margin-bottom: 24px;
}

div#Content div.template-single-activite div#LeftContent div.ImageCategorie {
	position: absolute;
	bottom: -2px;
	right: 0px;
}

div#Content div.MoreInformationWrap, div#Content div#LeftContent div.DownloadFile a, div.TermNavigation {
	display: none;
}

div#Content div#ListeItems div.ListeItemWrap div.ItemLabel,div#Content div#LeftContent div.ItemImage div.ItemLabel {
	position: absolute;
	left: -2px;
	top: 10px;
	width: 142px;
	padding-right: 2px;
	height: 42px;
	font-family: OpenSansSemiBold, Arial, Helvetica, Sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 42px;
	text-align: center;
}

div#Content div#ListeItems div.ListeItemWrap div.LabelComplete, div#Content div#LeftContent div.ItemImage div.LabelComplete {
	background-color: #ac1627;
	color: #ffffff;
}

div#Content div#ListeItems div.ListeItemWrap div.LabelPast, div#Content div#LeftContent div.ItemImage div.LabelPast {
	background-color: #a7bc29;
	color: #ffffff;
}

div#Content div.SendAction {
	display: none;
}

div#Content div.RetourBlogue {
	display: none;
}

div#Content div.BoutonFormulaire {
	display: none;
}

div#Content div.Formulaire {
	display: none;
}

div#ZoneInfolettreWrap {
	display: none;
}

div#Footer div#LogoFooter, div#Footer div#FooterMedia, div#Footer a.BoutonMobileContact {
	display: none;
}

div#Footer div#FooterAdresse {
	font-family: OpenSansRegular, Arial, Helvetica, Sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: <?php echo $blanc; ?>;	
	text-transform: uppercase;
}

div#Footer div#FooterAdresse div.NomCompagnie {
	font-family: OpenSansBold, Arial, Helvetica, Sans-serif;
	margin-bottom: 8px;	
}

div#Footer div#FooterContact {
	font-family: OpenSansRegular, Arial, Helvetica, Sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #231f20;	
	text-transform: uppercase;
}

div#Footer div#FooterContact a {
	color: #7f9400;
}

div#FontLoad {
	display: none;
}

div#Footer div#FooterNotes {
	font-family: OpenSansRegular, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	line-height: 28px;
	color: #aaaaaa;
}

div#Footer div#FooterNotes div.Nmedia, div#Footer div#FooterNotes a {
	display: none;
}


div#Footer div#FooterNotes div#Rights a {
	display: inline-block;
	color: #aaaaaa;	
}