/*////////////////////////////////*/
/* METABOX ACTIVITÉS		 	  */
/*////////////////////////////////*/

div.ActiviteBoxWrap {
	overflow: scroll;
}

table.ActiviteTable {
	width: 100%;
}	

.MetaTitre {
	padding: 12px!important;
	margin: 0px!important;
	color: #21759B!important;
}

	table.ActiviteTable .MetaActivite {
	padding: 12px;
		}		

table.ActiviteTable .SmallTD {
	width: 25%;
}

table.ActiviteTable .BigTD {
	width: 75%;
}

table.ActiviteTable label {
	margin-right: 12px;
}	

table.ActiviteTable input#ActivitePayante, table.ActiviteTable input#ActiviteGratuite {
	margin-right: 36px;
}			

table.ConditionsPrix {
	width: 98%;
	margin-left: 12px;
	min-width: 900px;
}

table.ListeConferences {
	width: 50%;
	margin-left: 12px;
	min-width: 450px;
}

table.ConditionsPrix th.PrixCell {
	width: 87px;
	color: #f03;
}
			
table.ConditionsPrix tr th {
	text-align: center;
}

table.ConditionsPrix td, table.ConditionsPrix td input {
	text-align: center;
}		

table.ConditionsPrix .FirstColumn {
	text-align: left;
}

table.ListeConferences .FirstColumn {
		text-align: left;
		width: 150px;
}

table.ListeConferences .Delete {
	width: 45px;
}

table.ConditionsPrix .FirstColumn input {
	text-align: right;
}

table.ConditionsPrix div.media-modal-close, table.ListeConferences div.media-modal-close {
	position: static;
	width: auto;
	padding-top: 1px;
	cursor: pointer;
}

table.ConditionsPrix th.ColoredHeader, table.ListeConferences th.ColoredHeader {
	background-color: #ECECEC;
}

table.ConditionsPrix .MultipleConfOpt, #FormulaireConferences {
	display: none;
}

table.ConditionsPrix th.DatePickerCell {
	width: 112px;
}

table.ConditionsPrix select.ListeConferencesUniques {
	max-width: 150px;
}

table.ListeConferences td {
	white-space: nowrap;
}

table.ListeConferences td input {
	width: 100%;
}

div.ActiviteBoxWrap div.HiddenWrap {
	display: none;
}

div#myplugin_sectionid div.inside p {
	padding: 0 12px;
}

div#myplugin_sectionid div.inside p input {
	margin-right: 6px;
}

/*////////////////////////////////*/
/* GÉNÉRATION EXCEL ACTIVITÉS 	  */
/*////////////////////////////////*/

form#FormulaireExcelActivites label {
	margin-left:  12px;
	line-height: 24px;
}

form#FormulaireExcelActivites input {
	margin-bottom: 12px;
}